
.main-div{
    display:flex;
    justify-content :space-between;
    align-items:center;
    background-color:transparent;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
.ul-div{
    display: flex; 
    list-style: none; 

}
.ul-div>li{ 
padding: 5px; 
}

a{
    text-decoration: none;
    color: white;
    margin: 5%;
    margin-top: 10%;
}

